
[flake8]
exclude =
    migrations,
    settings.py,
    __pycahce__,
    manage.py,
    models.py,
    admin.py,
    urls.py,
    test_models.py,
    test_user_api.py,
    serializers.py,
    views.py
